<% if @first_post != nil %>
	<div style="background-color:<%=@start_color%>">
		<h1 class="header">
			<%= content_tag :div, @first_post.joke, id:'joke', onclick:'changeJoke()'%>
			<%= content_tag :div, @first_post.answer, id:'answer', onclick:'changeJoke()'%>
		</h1>
		<hr>
			<%= image_tag @first_post.image, class:"image" %>
		<hr>
		<script>
			j = true;
			function changeJoke(){
				if (j == true){
					document.getElementById("joke").setAttribute("style", "display: none;");
					document.getElementById("answer").setAttribute("style", "display: block;");
					j = false
				}
				else {
					document.getElementById("joke").setAttribute("style", "display: block;");
					document.getElementById("answer").setAttribute("style", "display: none;");
					j = true;
				}	
			}
		</script>
	</div>
<% else %>
<h1 class="header"> No posts yet for today... </h1>
<div class="text-center">
	<%= link_to "Click here if you're Alex", login_path, class:"btn btn-default" %>
</div>
<h1> Otherwise FOCKOFF. </h1>
<% end %>


