
<h1 class="header">Line-up:</h1>

<ul>
  <% @posts.each do |post| %>
    <li class="list">
      <%= post.joke %>
      <br>
      <%= post.answer %>
      <br>
      <%= post.date %>
      <br>
      <%= link_to 'edit', edit_post_path(post) %> 
      <%= link_to "delete", post_path(post), method: :delete, data: { confirm: 'Bist du sicher?' } %>
    </li>
    <hr>
  <% end %>
</ul>

<div class="text-center">
	<%= link_to "New post", new_post_path, class:"btn btn-default" %>
</div>

<div class="text-center">
  <%= link_to "See today's post", root_path, class:"btn btn-default" %>
</div>
