
<% if @first_post != nil %>
  <div style="background-color:<%=@start_color%>">
    <div class="joke-container">
      <h1 class="header">
        <%= content_tag :div, @first_post.joke, id:'joke', onclick:'changeJoke()'%>
        <%= content_tag :div, @first_post.answer, id:'answer', onclick:'changeJoke()'%>
      </h1>
    </div>
    <hr>
      <div class="frame-container">
        <%= image_tag @first_post.image, class:"image" %>
      </div>
    <hr>
    <script>
      j = true;
      var joke = document.getElementById("joke");
      var answer = document.getElementById("answer");
      function changeJoke(){
        if (j == true){
          joke.setAttribute("style", "display: none;");
          answer.setAttribute("style", "display: block;");
          j = false;
        } else {
          joke.setAttribute("style", "display: block;");
          answer.setAttribute("style", "display: none;");
          j = true;
        } 
      }
    </script>
  </div>
<% else %>
  <h1 class="header"> 
    No posts yet for today...
  </h1>
  <hr>
    <div class="frame-container">
      <%= image_tag "no_posts.jpg", class:"image" %>
    </div>
  <hr>
<% end %>